
  ul {
    display: inline-flex;
    
    list-style: none;
    justify-content: center;
 
  }
  li{
    margin: 15px;
    padding: 15px;
  }
  nav{
    background: darkcyan;
    text-align: center;
  }
  a{
    text-decoration: none;
    color: white;

  }
  li:hover{
    background: cadetblue;
    border-radius: 15px;
    

  }
  li a:hover{
    color:blue;
      background: cadetblue;
    border-radius: 15px;
  }
  
 

  
